{% extends "base.html" %}
{% block content %}


<style type="text/css">
  h1
  {
    font-size: 100px;
    color : black;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 3px, 0 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  form
  {
  padding: 40px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  min-height: 100px;
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', function(){
    // select the submit button and password to be used later
    let submit = document.querySelector('#submit');
    const password = document.querySelector('#password');

    //disable submit button by default
    submit.disabled = true;

    password.onkeyup = () => {
      // if the password is typed then submit is enabled
    if (password.value.length > 0){
      submit.disabled = false;
    }
    else {
      submit.disabled = true;
    }
  }

  });
</script>


<h1>Please login - v2</h1>
<br>
<form action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <input id="password" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
  {{recaptcha}}
  <input class="btn btn-default" id="submit" type="submit" value="Login">
</form>

{% endblock %}
