{% extends "base.html" %}
{% block content %}


<script>
  document.addEventListener('DOMContentLoaded', function(){
    // select the submit button and password to be used later
    let submit = document.querySelector('#submit');
    const password = document.querySelector('#password');

    //disable submit button by default
    submit.disabled = true;

    password.onkeyup = () => {
      // if the password is typed then submit is enabled
    if (password.value.length > 0){
      submit.disabled = false;
    }
    else {
      submit.disabled = true;
    }
  }

  });
</script>

<h1>Please login as a beta-user-v2</h1>
<br>
<form action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <input id="password" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
  {{recaptcha}}
  <input class="btn btn-default" id="submit" type="submit" value="Login">
</form>

{% endblock %}
