{% extends "base.html" %}
{% block content %}


<style type="text/css">
  h1
  {
    font-size: 100px;
    color : black;
    font-style: italic;
    font-weight: bold;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    // select the submit button and password to be used later
    let submit = document.querySelector('#submit');
    const password = document.querySelector('#password');

    //disable submit button by default
    submit.disabled = true;

    password.onkeydown = () => {
      // if the password is typed then submit is enabled
    if (password.value.length > 0){
      submit.disabled = false;
    }
    else {
      submit.disabled = true;
    }
  }

  });
</script>


<h1>Please Register</h1>
<br>
<form action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <input id="password" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
  <input class="btn btn-default" id="submit" type="submit" value="Register">
</form>

{% endblock %}
